@{
    ViewData["Title"] = "Home Page";
    @* int id = ViewBag.Message; *@
}



<h2 class="mt-3 fw-bold fs-1 mainHeading">Dashboard</h2>
@* <div class="row">
    <div class="col-md-3">
        <div class="card">
        </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div>
<div class="row"></div>
<div class="row"></div> *@