@model PMSCore.ViewModel.LoginRequest
@{
    ViewData["Title"] = "Login Page";
}

<!-- Login Form Container -->
<div class="form_box login">
    <h3>Welcome,</h3>

    <form method="post" asp-action="Login" id="loginForm" >
        <!-- Email Input Field -->
        <div class="input_box">
            <span class="icon">
                <img src="@Url.Content("~/images/icons/customer.svg")" width="20" height="20">
            </span>
            <input type="text" asp-for="EmailId" id="loginEmail" required />
            <label>Email</label>
            <span class="text-danger" asp-validation-for="EmailId"></span>
        </div>

        <!-- Password Input Field with Toggle Visibility -->
        <div class="input_box">
            <span class="icon">
                <img src="@Url.Content("~/images/icons/eye.png")" onclick="showPassword('password','pImage')"
                     id="pImage" alt="eye_button" class="mt-1" width="20" height="20">
            </span>
            <input type="password" asp-for="Password" class="mt-1" id="password" required />
            <label class="mt-2">Password</label>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>

        <!-- Remember Me & Forgot Password Section -->
        <div class="remember-forgot">
            <label>
                <input asp-for="IsRememberMe" type="checkbox" /> Remember me 
            </label>
            <a href="javascript:void(0);" class="btn forgotPassword-link" onclick="populateForgotPasswordLink()">
                Forgot Password?
            </a>
        </div>

        <!-- Login Button -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

<!-- JavaScript Validation -->
<script>
    $(document).ready(function () {
       
    function togglePasswordVisibility(passwordFieldId, eyeIconId) {
        let passwordField = document.getElementById(passwordFieldId);
        let eyeIcon = document.getElementById(eyeIconId);

        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.src = "@Url.Content("~/images/icons/eye-slash.png")"; // Change icon
        } else {
            passwordField.type = "password";
            eyeIcon.src = "@Url.Content("~/images/icons/eye.png")"; // Change icon back
        }
    }
</script>
