@model PMSCore.ViewModel.UpdatePassword

@{
    ViewData["Title"] = "ResetPassword Page";
    string data = ViewBag.Token;
}

<div class="form_box resetPassword">
    <h4>Reset Your Password</h4>
    <form asp-action="ResetPassword">
        <input asp-for="token" type="text" value="@data" hidden />
        <div class="input_box">
            <span class="icon" onclick="showPassword('newPassword','npImage')">
                <img src="@Url.Content("~/images/icons/eye.png")" id="npImage" width="20" height="20"
                    alt="eye_button" /></span>
            <input asp-for="Password" type="password" id="newPassword" required />
            <label>New Password</label>
        <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="input_box">
            <span class="icon" onclick="showPassword('confirmPassword','cpImage')">
                <img src="@Url.Content("~/images/icons/eye.png")" id="cpImage" width="20" height="20"
                    alt="eye_button" /></span>
            <input asp-for="confirmPassword" type="password" id="confirmPassword" required />
            <label>Confirm Password</label>
        <span class="text-danger" asp-validation-for="confirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
        <div class="login-registered">
            <a asp-controller="Login" asp-action="Index">Back to login</a>
        </div>
    </form>
</div>